@(form: Form[model.User])
@if(form.hasGlobalErrors) {
    <p class="error">
        @form.globalError.message
    </p>
}
<html>
    <head>
        <title>Login</title>
    </head>
    <body bgcolor="#CEF6F5">
    <div align="center">
       
   @helper.form(routes.Application.authenticate) {
   <table bgcolor="#FFFFFF"style="border: 1px solid #000000;">
   <tr>
   <td><h1>Login</h1></td>
   <tr>
   <tr>
   <td>Name</td>
   <td><input type="name" name="name" placeholder="Name" ></td>
   </tr>

   <tr>
   <td>Password</td>
   <td><input type="password" name="password" placeholder="Password"></td>
   </tr>

   <tr>
   <td><button type="submit">Login</button></td>
   </tr>
   </table>
  }
    </div>
    </body>
</html>
